
/* Google Fonts(Poppins) */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background: purple;
  color: #fff;
}

body {
  min-height: 100vh;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(jason-leung-SAYzxuS1O3M-unsplash.jpg);
  background-position: center;
  background-size: cover;
}
.wp-out{
  width: 100%;
  height: 100%;
  background-image: url('pngwing.com\ \(3\).png');
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper {
  width: 450px;
  height: 500px;
  border-radius: 20px;
  box-shadow: 7px 7px 20px rgb(0, 0, 0);
  background-image: linear-gradient(to bottom right,	#f8bd0d,rgb(232, 251, 223),green);
  background-size: cover;
  background-position: center;
}
.wrapper >form,header{
  position: relative;
  z-index: 10;
}
.content{
  width: 100%;
  height: 100%;
  background-image: url('—Pngtree—white\ galaxy\ star\ dust\ on_12000494.png');
  background-position: center;
  background-size: contain;
}

#input {
  box-shadow: 0px 3px 3px black;
}

.wrapper header {
  font-size: 28px;
  font-weight: 600;
  margin-top: 30px;
  text-align: center;
  text-shadow: 3px 5px 5px rgba(19, 19, 19, 0.326);
  text-transform: uppercase;
}

.wrapper form {
  margin: 40px 40px 20px 40px;
  overflow: hidden;
}

.wrapper form input,
.wrapper form select,
.wrapper form button {
  width: 100%;
  border: none;
  outline: none;
  border-radius: 5px;
}

.wrapper form p {
  font-size: 18px;
  margin-bottom: 5px;
}

.wrapper form input {
  height: 50px;
  padding: 0 15px;
  border: 1px solid #999;
  font-size: 17px;
}

.wrapper form input:focus {
  border: 2px solid rgb(0, 47, 255);
  padding: 0 14px;
}

.wrapper form .drop-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.wrapper form .drop-list .select-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 115px;
  height: 45px;
  border: 1px solid #999;
  border-radius: 5px;
  background-color: rgba(4, 44, 223, 0.09);
  box-shadow: 0px 2px 2px black;
}

.wrapper form .drop-list .select-box img {
  max-width: 21px;
}

.wrapper form .drop-list .select-box select {
  width: auto;
  font-size: 16px;
  background: none;
  margin: 0 -5px 0 5px;
}

.wrapper form .drop-list .select-box select::-webkit-scrollbar {
  width: 8px;
}

.wrapper form .drop-list .select-box select::-webkit-scrollbar-track {
  background: #fff;
}

.wrapper form .drop-list .select-box select::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
  border-right: 2px solid #fff;
}

.wrapper .drop-list .icon {
  font-size: 22px;
  margin-top: 30px;
  cursor: pointer;
}

.wrapper form .exchange_rate {
  font-size: 16px;
  margin: 20px 0 30px;
}

.wrapper form button {
  height: 52px;
  background: rgb(25, 0, 255);
  color: #ffffff;
  font-size: 17px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.wrapper form button:hover {
  background: rgba(47, 0, 255, 0.743);
  color: rgb(255, 255, 255);
  border: 2px solid rgb(255, 255, 255);
}

@media only screen and (max-width:600px) {
  body {
    background-image: url(bg2.jpg);
    background-position: center;
    background-size: cover;
  }
  .wrapper header{
    font-size: 20px;
  }
  .wrapper {
    background-color: aqua;
    background-position: center;
    background-size: cover;
    width: 320px;
  }
  .wrapper form .drop-list .select-box{
    width: 100px;
  }
}
